# compiled output
/dist
/node_modules
/logs
.env*
*.log
2021*.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace