<ul class="nav nav-pills m-2 justify-content-center">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/list?userId=1">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">Logout</a>
    </li>
</ul>
