<!DOCTYPE html>
<html>
<head>
    <title>Happiest Place☺</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/exif-js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>UPLOAD PHOTO</p>
<script>
    var key = '<%= process.env.MAP_KEY %>'
    console.log(key)
</script>

<form method="post" action="/emotion" enctype="multipart/form-data">
    <div>
        <!--        file : <input type="file" name="file" id="file" accept="image/*" onChange="getGps();" >-->
        <br> <input type="file" multiple="multiple" data-maxfile="1024" maxlength="5" name="files" id="files" accept="image/*" >
    </div>

    <input type="submit">
</form>
</body>
</html>
